<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crud_Project.Properties.Settings.CRUDConnectionString"
            connectionString="Data Source=MJDT-0286;Initial Catalog=CRUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Crud_Project.Properties.Settings.crudoperationConnectionString"
            connectionString="Data Source=FARHAN;Initial Catalog=crudoperation;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>